RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/sass
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/js
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/lang
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/lang/en
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/test
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/views
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/views/auth
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/views/auth/passwords
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/views/layouts
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/views/admin
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/views/admin/includes
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/views/admin/modules
RewriteEngine on 
> RewriteBase / 
> RewriteCond %{REQUEST_FILENAME} !-f 
> RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$ 
> RewriteRule (.*) http://localhost/test/default.png [L] ./resources/views/admin/login
