@each $color, $value in $theme-colors {
    .toast-#{$color} {
        background:$value;
        color:$white;
        position:fixed;
        top:0.2rem;
        right:0.2rem;
    }
}
img{
        max-width: 100% !important;
}
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        $i: 6;

        @while $i <= 32 {
            .font#{$infix}-#{$i} {
                font-size: 0rem + $i / 16;
            }

            $i: $i + 1;
        }

        $i: 100;

        @while $i < 1000 {
            .fw#{$infix}-#{$i} {
                font-weight: $i;
            }

            $i: $i + 100;
        }
    }
}
@each $color, $value in $brand-colors {
    .bg-gradient-#{$color} {
        background-color: $value;
        background-image: linear-gradient(180deg, $value 10%, darken($value, 15%) 100%);
        background-size: cover;
    }
    .text-#{$color} {
        color: $value;
    }
    .bg-#{$color} {
        background-color: $value;
    }
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
    .badge-#{$color} {
        @include badge-variant($value);
    }
    .toast-#{$color} {
        background:$value;
        color:$white;
        position:fixed;
        top:0.2rem;
        right:0.2rem;
    }
}
