.navbar {
    .nav-link {
        font-weight: 700;
        color: #fff;
    }

    .nav-item {
        &:hover,
        &.active {
            background: $title;
        }
    }
}

html, body {
    width: 100%;
}

img {
    max-width: 100%;
}

.img-overlay {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
}

.img-gradient {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: #fff;

    a {
        color: $white;
    }
}

.date {
    color: #FF0505;
}

.section-title {
    clear: both;
    border-bottom: solid 3px $title;
    padding: 0;

    .title {
        background: $title;
        color: #fff;
        display: inline;
        font-weight: 700;
        font-size: 1.2rem;
        padding: 0.2rem 0.6rem;
        margin-bottom: 0;

        @include border-top-radius(0.2em);

        a {
            margin: 0;
            padding: 0;
        }
    }
}

.objectfit {
    object-fit: cover;
}

.news-section .media:not(:last-child) {
    border-bottom: solid 1px $gray-500;
}

.other-categories {
    .img-holder {
        width: 150px;
        height: 95px;
        margin-right: 0.25rem;
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        $i: 6;

        @while $i <= 32 {
            .font#{$infix}-#{$i} {
                font-size: 0rem + $i / 16;
            }

            @for $z from 1 through 10 {
                .font#{$infix}-#{$i}-grow-#{$z} {
                    font-size: 0rem + $i / 16;

                    &:hover {
                        font-size: 0rem + $i * $z / 16;
                        transition-timing-function: ease;
                        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
                    }
                }
            }

            $i: $i + 1;
        }

        $i: 100;

        @while $i < 1000 {
            .fw#{$infix}-#{$i} {
                font-weight: $i;
            }

            $i: $i + 100;
        }
    }
}

.playbutton {
    top: 0;
    left: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.ad {
    background: ghostwhite;
    text-align: center;
}

.tag {
    background: $dark;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.25rem 1rem;
    border-radius: 0.375rem;

    &:hover {
        color: rgba(255, 255, 255, 0.9);
    }
}

.news-section .media:not(:last-child) {
    border-bottom: solid 1px #eee;
}

@each $color, $value in $brand-colors {
    .text-#{$color} {
        color: $value;
    }
}

.blog-post {
    p {
        line-height: 1.9rem;
        font-size: 1rem;
    }
}

article {
    img {
        width: 100%;
        height: auto;
    }

    a {
        color: $danger;
    }
}

@include media-breakpoint-up(md) {
    .item img {
        height: 14.375rem !important;
        width: 100%  !important;
        object-fit: cover  !important;
    }

    .item .card-body {
        height: 8.125rem;
    }
}


.bg-editor {
    background: linear-gradient(to bottom right, $gray-900, $gray-700, $gray-900);
}

.parallax {
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}